<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="./app.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);">Portfolio</a>
        <button style="border-radius: 25%; border-color: rgb(0, 0, 0);" class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i> <!-- เพิ่มไอคอน Font Awesome -->
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#home">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skill">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="main-contain">
      <div class="p0">
        <h1 class="p1" id="home" style="text-align: center; font-size: 100px;">
          PORTFOLIO
        </h1>
        <hr>
        <div class="content">
          <p style="font-size: 30px;"><b>Personal infrom</b></p>
          <p style="text-align: center;">
            ANAN PRAKAM ,<strong>Earth</strong><br><span><i class="fa-solid fa-phone fa-bounce fa-2x"
                style="color: #000000;"></i> Telaphon:
              093-1404623</span>
          </p>


          <p>Address: Nakhon sawan</p>
        </div>


        <img class="img"
          src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.6435-9/119048411_3316917128534117_3526568923204605960_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeFSDu1io2exLJQUHEfAvai1xUmoOTnuUqXFSag5Oe5SpQKZbDrEXOBb6X5yPWN-zmfSmSg5KyuwxxSusVbkPqlT&_nc_ohc=ao9zI3Ofk4sAX9s6b5p&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfDU0gNE501xK21AfFMqMRhyc4uPwHAlsIydvmbg9-MQfg&oe=656984D7">

        <div class="container-img">
          <img src="https://f.ptcdn.info/158/012/000/1384503471-5266374834-o.jpg" alt="phayao" class="img-a">

        </div>
        <p style="text-align: center;" class="text">
          <strong>Education</strong> : Computer Science ,<strong>University of
            Phayao.</strong>
        </p>

        <div class="containert">
          <div class="row">
            <div class="p2">
              <div class="skill" id="skill">
                <h2>My Skills</h2>
                <p><b>Hard Skills</b></p>
                <ul>
                  <li><i class="fa-brands fa-html5 fa-bounce fa-2x" style="color: #e5532d;"></i> HTML</li>
                  <li><i class="fa-brands fa-square-js fa-bounce fa-2x" style="color: #f7e025;"></i> Java Script</li>
                  <li><i class="fa-brands fa-css3-alt fa-bounce fa-2x" style="color: #0878c0;"></i> CSS</li>
                  <li><i class="fa-brands fa-php fa-bounce fa-2x" style="color: #4f5b93;"></i> PHP</li>
                  <li><i class="fa-solid fa-database fa-bounce fa-2x" style="color: #d35858;"></i> MySql</li>
                </ul>
                <p><b>Soft Skills</b></p>
                <ul>
                  <li>-Creativity</li>
                  <li>-Flexibility</li>
                  <li>-Critical thinking</li>
                </ul>
              </div>
              <br>
              <hr>
              <div class="experience" id="experience">
                <h3>Experience in University</h3>

                <ul>
                  <li>-Design Application Crossword game using Figma</li>
                  <li>-Design Application Ecommerce using Figma</li>
                  <li>-Design Ecommerce web app for plant store</li>
                </ul>
                <p><b>Learning from Borntodevschool</b></p>
                <ul>
                  <li>-Introduction to JavaScript</li>
                  <li>-Become to Front-end Developer</li>
                </ul>
              </div>

              <div class="contact" id="contact">
                <h3>Contact : </h3>
              </div>
              <div class="containers">
                <div class="row" style="margin: 15px; font-size: 20px;">
                  <div class="col">
                    <i class="fa-brands fa-facebook fa-shake fa-2x"></i><a
                        style="text-decoration: none;font-family: 'Fredoka', sans-serif;"
                        href="https://www.facebook.com/anan.prakam/" target="_blank" rel="noopener">
                        Facebook</a>
                  </div>
                  <div class="col">
                    <i class="fa-solid fa-envelope fa-shake fa-2x" ></i><a
                        style="text-decoration: none;font-family: 'Fredoka', sans-serif;font-weight: 400;" href=""
                        target="_blank" rel="noopener">
                        Ananprakam2001@gmail.com</a>
                  </div>
                  <div class="col">
                    <i class="fa-brands fa-github fa-shake fa-2x"></i><a style="text-decoration: none;font-family: 'Fredoka', sans-serif;"
                        href="https://github.com/ananprakam" target="_blank" rel="noopener">
                        Github</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="containerr">
      <p>&copy; 2023 Anan Prakam (EARTH)</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>