* {
    text-decoration: none;
    /* Remove default text decoration */
    list-style: none;
    /* Remove default list style */
    box-sizing: border-box;
    /* Add border-box to all elements */
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default padding */
}

body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 25px;
    color: #222121;
    background-color: rgb(152, 162, 156);
    /*background-color: hsl(198, 69%, 80%);*/
}


/* Style the navbar */
.navbar {
    position: fixed; /* ทำให้ Navbar อยู่บนสุดเสมอ */
    top: 0;
    left: 0;
    width: 100%; /* ความกว้างเต็มหน้าเว็บ */
    height: 60px; /* ความสูงของ Navbar 60px */
    background-color: #333;
    display: flex; /* เปลี่ยนให้เป็น Flexbox */
    justify-content: center; /* จัดให้ Navbar อยู่ตรงกลางตามแนวนอน */
    align-items: center; /* จัดให้ Navbar อยู่ตรงกลางตามแนวดิ่ง */
    z-index: 999; /* ค่า z-index สูงสุด เพื่อให้ Navbar อยู่บนสุด */
    overflow: hidden;
}


/* Style the list inside the navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style each list item */
.navbar li {
    float: left;
}

/* Style the links inside the list items */
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* เปลี่ยนสีเมื่อ hover */
.navbar a:hover {
    background-color: #ddd;
    /* สีพื้นหลังเมื่อ hover */
    color: black;
    /* สีตัวอักษรเมื่อ hover */
    border-radius: 25px;
    height: 50px;
}

/* Style the active link (the link of the current page) */
.navbar a.active {
    background-color: #4CAF50;
    /* สีพื้นหลังของเมนูที่เปิดอยู่ */
    color: white;
    /* สีตัวอักษรของเมนูที่เปิดอยู่ */
}


.img-a {
    /* รูปมหาวิทยาลัยพะเยา */
    width: 500px;
    box-shadow: #333 0px 0px 10px;
}

.img {
    /* รูปโปรไฟล์ */
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    cursor: pointer;

}

.p1 {
    /* ขนาดข้อความชื่อ Portfolio*/
    font-size: 60px;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.p1:hover {
    color: rgb(228, 218, 226);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;

}

.p2 {
    /* ขนาดข้อความใน skill */
    padding-top: 50px;
}

.navbar-brand {
    /* ขนาดชื่อเว็บ */
    font-size: 40px;
    text-decoration: underline;
}

.content {
    /* ขนาดข้อความชื่อ */
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 20px;
}

.main-contain {
    /* ขนาดข้อความหลัก */
    text-align: center;
    margin-top: 50px;

}

a:hover {
    /* สีข้อความ navbar */
    text-decoration: underline;
}

.container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    /* Add a border if desired */
}


.containers {
    /* ส่วน Contact */
    border-color: black;
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
    background-color: rgb(246, 238, 226);
    border-radius: 15px;

}

.contact {
    /* ขนาดข้อความ Contact */
    font-size: 100px;
}

.col:hover {
    color: #ff0000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.facebook:hover {
    color: rgb(0, 0, 225);
    transition: 0.3s ease-in-out;
}

.containert {
    /* ขนาดข้อความตาราง */
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(245, 228, 203);
    font-size: 18px;
}

/* ลบจุดหน้า li */
.skill ul li {
    list-style: none;
}

.experience ul li {
    /* ลบจุดหน้า li */
    list-style: none;
}

.skill h2 {
    margin-bottom: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    /* Remove default margins for the paragraph */
}

.container-img {
    /* ขนาดรูป */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin: 50px;
    padding: 25px;
    padding-right: 25px;
}


img {
    /* ขนาดรูป */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}